.bgheader {
    background-image: url(img/bgheaderehc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 164, 229);
    outline: 1px solid slategrey;
}

nav .nav-item a {
    display: block;
    color: white;
}

nav .nav-item a:hover {
    color: rgb(255, 164, 229);
    transform: scale(1.05);
}

#contact footer ul li a svg:hover {
    color: rgb(255, 164, 229);
    transform: scale(1.15);
}

.modal-content {
    background-color: #212529;
}